.main_sign_up{ 
    padding:20px; 
    font-family: 'Helvetica', serif; 
    border: 5px solid #65AAF0; 
      
} 
.main_sign_up h1{ 
    font-size: 40px; 
    text-align:center; 
    font-family: 'Helvetica', serif; 
    color: black; 
      
} 
input{ 
    color: black; 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    font-size: 20px; 
    padding: 12px 20px; 
    margin: 8px 0; 
    border: none; 
    border-bottom: 2px solid #65AAF0; 
} 
input[type=submit] { 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    background-color: #65AAF0; 
    border: 1px #65AAF0; 
    color: black; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    border-radius: 10px; 
} 